:root {
    --almost-black: #20262E;
    --purple: #913175;
    --pink: #CD5888;
    --ice: #E9E8E8;
}

body {
    background-Color: var(--purple);
    font-family: sans-serif;
    color: var(--ice);
}
button{
    display: block;
    margin: 70px auto;
    padding: 5px;
    border: 0;
    border-radius: 3px;
    font-size: 125%;
    background-color: var(--pink); 
    color: var(--ice);
}
h1 {
    margin: auto;
    font-size: 350%;
    color: var(--ice);
}
hr {
    font-size: 300%;
    width: 75%;
    border-color: var(--pink);
}
#tetrisContainerDiv {
    display: none;
    height: 700px;
    width: 350px;
    grid-template-columns: repeat(10, 1fr);
    color: silver;
}
#statusDiv {
    width: 300px;
    display: none; 
    margin: 0 0 0 50px;
}
#titleDiv {
    margin: 50px;
}
#statusAndGameContainerDiv {
    margin-top: 50px;
}
#statusDiv, #announceDiv, #endGameDiv, #divToBeDeleted {
    flex-direction: column;
    align-items: center;
}
#divToBeDeleted {
    font-size: 125%;
}
#titleH1 {
    display: block;
    margin: 50px auto;
}
.tetrisBodyDiv {
    border: outset;
}
.genericDiv {
    display: flex;
    justify-content: center;
}

